* {
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #1A2421;
    margin: 0;
    padding: 0;
}


/* GLOBAL */

h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}



/* HERO SECTION */

.hero-section {
    background-image: url(img/hero-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section h1 {
    color: #FFF4CF;
    line-height: 35px;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1em 0;
    
}

#signUpButton {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #66B700;
    color: #1A2421;
    border-radius: 7px;
    font-weight: 600;
    margin: 0;
    transition: background-color 0.2s ease;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

#signUpButton:hover {
    background-color: #1A2421;
    color: #fff;
}



.suma-logo {
    width: 240px;
    height: auto;
}

@media (min-width: 760px) {
    .suma-logo {
        width: 360px;
        height: auto;
    }

    .hero-section h1 {
        max-width: 500px;
        font-size: 2rem;
        line-height: 40px;
    }
}

@media (min-width: 992px) {

    .hero-section {
        height: 100vh;
    }

    .hero-section h1 {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.5rem;
        line-height: 50px;
    }
}

@media (min-width: 1200px) {
    .hero-section {
        height: 100vh;
    }

    .hero-section h1 {
        font-size: 3.5rem;
        line-height: 67px;
        max-width: 1000px;
    }

    .suma-logo {
        width: 480px;
        height: auto;
    }
}

/* SIGN UP FORM */

#signUpModal.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cta-button {
    background-color: #1A2421;
    border-radius: 5px;
    color: #fff;
    padding: 1rem 0.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}

.cta-button:hover {
    color:#66B700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form h2 {
    text-align: center;
    margin-bottom: 2rem;
}

form label {
    margin-bottom: 10px;
}

form input[type="email"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #1A2421;
    border-radius: 5px;
}

/* PARTNERS AND INFRASTRUCTURE PROVIDERS */

.partners-line {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFEEB6;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.partners-line p {
    margin: 0;
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.partners-first-line-img {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.partner-logo {
    width: auto;
    height: 30px;
}

.chainlink-logo {
    width: auto;
    height: 35px;
}

.shima-logo {
    width: auto;
    height: 25px;
}

.albo-logo {
    margin-top: auto;
    margin-bottom: auto;
}

.partners-second-line-img {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

@media (min-width: 760px) {
    .partner-img-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .partners-first-line-img {
        gap: 2rem;
        align-items: center;
    }

    .partners-second-line-img {
        margin: 0;
        gap: 2rem;
        align-items: center;
    }
}

@media (min-width: 993px) {
    .partner-img-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
    }

    .partners-first-line-img {
        gap: 5rem;
    }
    
    .partners-second-line-img {
        margin: 0;
        gap: 5rem;
    }

    .partner-logo {
        width: auto;
        height: 35px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .shima-logo {
        width: auto;
        height: 28px;
    }

    .polygon-logo {
        width: auto;
        height: 29px;
    }
}



/* SAAS SECTION */

.image-large-screen {
    display: none;
}
.saas-section-wrapper {
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.saas-section {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.saas-section-text-btn h2 {
    margin: 0;
    font-weight: 400;
}

#saasBtn {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #66B700;
    color: #1A2421;
    border-radius: 7px;
    font-weight: 600;
    transition: background-color 0.2s ease;
    margin-right: auto;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

#saasBtn:hover {
    background-color: #1A2421;
    color: #fff;
}

.saas-section p {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    font-family: 'Open Sans', sans-serif;
}

.saas-section h2 span {
    color: #66B700;
}

@media (min-width: 760px) {
    .image-large-screen {
        display: inline;
        width: auto;
        height: 250px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .saas-section {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .saas-section-text-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 70%;
        margin-right: 1rem;
    }
    .saas-section p {
        margin-bottom: 2rem;
    }

    .saas-section h2 {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .image-large-screen {
        display: inline;
        width: 450px;
        height: auto;
        margin-left: 2rem;
    }

    .saas-section {
        display: flex;
        flex-direction: row;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .saas-section-text-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 50%;
    }

    .saas-section a {
        margin-right: auto;
    }

    .saas-section-text-btn h2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 35px;
        margin-bottom: 1rem;
    }

    .saas-section p {
        margin-bottom: 3rem;
    }
}

@media (min-width: 1200px) {
    .saas-section {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .saas-section p {
        margin-bottom: 2rem;
        margin-top: 0;
    }

    .saas-section-text-btn h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .image-large-screen {
        width: 50%;
        height: auto;
    }

    .saas-section-text-btn {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;

    }

    .saas-section a {
        margin-top: 1rem;
    }
}
/* PRODUCT SECTION */

.product-section-wrapper {
    background-color: #1A2421;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.product-section {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #FFFFFF;
}

.product-section h2 {
    font-weight: 400;
    margin-bottom: 0rem;
    color: #fff;
}

.subheader-product-section {
    margin-top: 0;
    font-weight: 400;
}

.product-section span {
    color: #66B700;
}

.section-number {
    font-size: 2rem;
    font-weight: 600;
    color: #66B700;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


.product-section-title {
    margin: 0;
    padding: 0;

}

.product-section-first {
    margin-bottom: 4rem;
}

.product-section-second {
    margin-bottom: 4rem;
}

.platform-img {
    display: block;
    margin: auto;
    width: 100%;
}

.product-btn-container {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.product-section-btn {
    text-decoration: none;
    padding: 1rem 5rem;
    background-color: #fff;
    color: #1A2421;
    border-radius: 7px;
    font-weight: 600;
    margin: auto;
    transition: background-color 0.2s ease;
 
}

.product-section-btn:hover {
    background-color: #1A2421;
    color: #fff;
}

@media (min-width: 760px) {
    .product-section h2 {
        font-size: 2rem;
        text-align: center;
    }

    .platform-img {
        max-width: 80%;
        height: auto;
        
    }

    .subheader-product-section {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    .product-section-container {
        margin-bottom: 4rem;
    }

    .product-section-title {
        font-size: 1.5rem;
        font-weight: 400;
    }
}


@media (min-width: 992px) {
    
    .product-section {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .product-section-container {
        margin-bottom: 5rem;
    }


    .product-section-first,
    .product-section-second,
    .product-section-third {
        display: flex;
        justify-content: space-between;
        
    }

    .platform-img {
        max-width: 50%;
        height: auto;
        
    }


    .product-section h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }

    .subheader-product-section {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 4rem;
        font-weight: 300;
    }

    .product-section-title {
        font-size: 1.5rem;
        font-weight: 400;
        max-width: 60%;
    }

    .product-section-body-text {
        font-family: 'Open Sans', sans-serif;
    }

    .product-section-content {
        max-width: 50%;
        margin-right: 5rem;
        margin-top: auto;
        margin-bottom: auto;
    }
    
}

@media (min-width: 1200px) {
    .product-section {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .product-section h2 {
        font-size: 2.5rem;
    }
}

/* JOIN TWITTER SECTION */

.join-twitter-section-wrapper {
    background-color: #FFFCF6;
    margin: 0;
    padding: 6rem 0;
    
    
}

.join-twitter-section {
    background-color: #66B700;
    border-radius: 7px;
    margin: 0 1.5rem;
    padding: 3rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.join-twitter-section p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding-bottom: 1em;
}

.join-twitter-section a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    font-weight: 600;
    margin: auto;
    transition: background-color 0.2s ease;
}

.join-twitter-section a:hover {
    background-color: #66B700;
    color: #fff;
}

@media (min-width: 760px) {
    .join-twitter-section p {
        font-size: 1.5rem;
        margin-left: 1em;
        margin-right: 1em;
        font-weight: 400;
    }
}


@media (min-width: 992px) {
    
    .join-twitter-section {
        margin-left: 3rem;
        margin-right: 3rem;
        padding-top: 7rem;
        padding-bottom: 7rem;
        border-radius: 24px;
    }

    .join-twitter-section p {
        font-size: 2rem;
        margin-left: 1em;
        margin-right: 1em;
        font-weight: 400;
    }
}

@media (min-width: 1200px) {
    .join-twitter-section {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .join-twitter-section p {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* FOOTER */

footer {
    background-color: #FFEEB6;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    justify-content: space-between;
}

.footer-suma-logo {
    width: auto;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.social-links-footer img {
    width: 40px;
    height: auto;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

.copyright-company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright-company-container p {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 0;
    font-weight: 600;
    
}

.copyright-company-container a {
    text-decoration: underline;
    color: #1A2421;
}

@media(min-width: 992px) {
    .copyright-company-container {
        padding-bottom: 1rem;
    }

    .footer-wrapper {
        max-width: 990px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 1200px) {
    .footer-wrapper {
        max-width: 1200px;
    }
}

